In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 '1 Wilcoxon.xlsx',
 '1. One Sample.xlsx',
 'Day 12 Assignment.ipynb',
 'Day12.ipynb',
 'general_data.csv']

In [2]:
import pandas as pd

In [3]:
hrdataset=pd.read_csv("general_data.csv")
hrdataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
hrdataset["Attrition"]=hrdataset.Attrition.map({"Yes":1,"No":0})

In [5]:
hrdata=hrdataset.dropna()

In [6]:
hrdata.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [7]:
hrdata.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

# Wilcoxon test is used to compare 2 paired samples

In [8]:
hrdatapaired=hrdata[hrdata["Attrition"]==1]
hrdatapaired.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,1,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,1,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,1,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,1,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [9]:
from scipy.stats import wilcoxon

# Hypothesis

Ho= There is no significant difference between Percent Salary Hike and Total Working Years.

Ha= There is significant difference between Percent Salary Hike and Total Working Years.

In [10]:
stats,p=wilcoxon(hrdatapaired.PercentSalaryHike,hrdatapaired.TotalWorkingYears)
print(stats,p)

27759.0 1.4168286858871556e-69

# Since p<0.05 we reject Ho and Accept Ha

# Friedman Test is used to compare more than 2 paired samples.

In [11]:
from scipy.stats import friedmanchisquare

# Hypothesis

Ho= There is no significant difference between Percent Salary Hike, Total Working Years and Years at Company.

Ha= There is significant difference between Percent Salary Hike, Total Working Years and Years at Company.

In [12]:
stats,p = friedmanchisquare(hrdatapaired.PercentSalaryHike,hrdatapaired.TotalWorkingYears,hrdatapaired.YearsAtCompany)
print(stats, p)

912.2680331099739 8.0078070801161535e-199

# Since p<0.05 we reject Ho and Accept Ha

# Mannwhitney Test is used to compare to independent samples

In [13]:
from scipy.stats import mannwhitneyu

# Hypothesis
Ho= There is no significant difference between Age and Total Working Years.

Ha= There is significant difference between Age and Total Working Years.

In [14]:
stats,p = mannwhitneyu(hrdatapaired.Age,hrdatapaired.TotalWorkingYears)
print(stats,p)

10641.0 3.913461082441059e-213

# Since p<0.05 we reject Ho and Accept Ha

# Kruskal wallis is used to compare to more than two independent samples

In [20]:
from scipy.stats import kruskal

# Hypothesis
Ho= There is no significant difference between Number of Companies Worked, Total Working Years and Training Times Last Year.

Ha= There is significant difference between Number of Companies Worked, Total Working Years and Training Times Last Year.

In [21]:
stats,p = kruskal(hrdatapaired.NumCompaniesWorked,hrdatapaired.TotalWorkingYears,hrdatapaired.TrainingTimesLastYear)
print(stats,p)

426.01993209496675 3.097042429103304e-93

# Since p<0.05 we reject Ho and Accept Ha

# Chi Square Test is used to check the dependency of variable and variable should be categorical

In [24]:
from scipy.stats import chi2_contingency

# Hypothesis
Ho= There is no significant difference between Gender and Attrition.

Ha= There is significant difference between Gender and Attrition.

In [28]:
chitable=pd.crosstab(hrdataset.Gender,hrdataset.Attrition)
chitable

Attrition     0    1
Gender
Female     1494  270
Male       2205  441

In [29]:
stats,p,dof,expected=chi2_contingency(chitable)
print(stats,p)

1.349904410246582 0.24529482862926827

# Since p>0.05 we accept Ho and reject Ha