In [16]:
import os
os.listdir()

['.ipynb_checkpoints',
 'data_dictionary.xlsx',
 'Day 11 Assignment.ipynb',
 'Day 11 Assignment.py',
 'Day 7 Assignment.pdf',
 'general_data.csv',
 'HR Analytics Case Study.txt']

In [3]:
import pandas as pd
from scipy.stats import pearsonr

In [5]:
hrdataset=pd.read_csv("general_data.csv")
hrdataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [7]:
hrdataset["Attrition"]=hrdataset.Attrition.map({"Yes":1,"No":0})

In [8]:
hrdataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [22]:
hrdataset.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [23]:
hrdata=hrdataset.dropna()

In [26]:
hrdata.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

# 1.Age vs Attrition Hypothesis
Ho = There is no correlation between Age and Attrition
H1 = There is corelation between Age and Attrition

In [29]:
stats,p=pearsonr(hrdata.Attrition,hrdata.Age)
print(stats,p)

-0.15839867954096684 5.1265982193804103e-26

# Since p<0.05 we reject Ho and accept H1

# 2.DistanceFromHome vs Attrition Hypothesis
Ho = There is no correlation between DistanceFromHome and Attrition
H1 = There is corelation between DistanceFromHome and Attrition

In [31]:
stats,p=pearsonr(hrdata.Attrition,hrdata.DistanceFromHome)
print(stats,p)

-0.009448638515156229 0.5317715668019558

# Since p>0.05 we Accept Ho and reject H1

# 3.Education vs Attrition Hypothesis
Ho = There is no correlation between Education and Attrition
H1 = There is corelation between Education and Attrition

In [33]:
stats,p=pearsonr(hrdata.Attrition,hrdata.Education)
print(stats,p)

-0.017106307050278748 0.25757539308157945

# Since p>0.05 we Accept Ho and reject H1

# 4.PercentSalaryHike vs Attrition Hypothesis
Ho = There is no correlation between PercentSalaryHike and Attrition
H1 = There is corelation between PercentSalaryHike and Attrition

In [34]:
stats,p=pearsonr(hrdata.Attrition,hrdata.PercentSalaryHike)
print(stats,p)

0.0331530371354668 0.028192446935093166

# Since p<0.05 we reject Ho and accept H1

# 5.YearsSinceLastPromotion vs Attrition Hypothesis
Ho = There is no correlation between YearsSinceLastPromotion and Attrition
H1 = There is corelation between YearsSinceLastPromotion and Attrition

In [35]:
stats,p=pearsonr(hrdata.Attrition,hrdata.YearsSinceLastPromotion)
print(stats,p)

-0.03142315056331017 0.03752293607392567

# Since p<0.05 we reject Ho and accept H1