# Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [1]:
Mail_address = input("Enter the mail id: \n")

X=(Mail_address.find("@")); Y=(Mail_address.find("."))

print("This Mail Id belongs to :\n%s"%(Mail_address[X+1:Y].title()))

Enter the mail id:
sachinjain@webistotech.com
This Mail Id belongs to :
Webistotech

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [2]:
User_input = input("Enter the comma-separated sequence of words:\n")
X = ""
Y = sorted(User_input.strip().split(","))
for i in Y:
    X = X + i
    if i != Y[-1]:
        X=X + ","
print(X)

Enter the comma-separated sequence of words:
without,hello,bag,world
bag,hello,without,world

# Question 3:
Create your own Jupyter Notebook for Sets.

In [3]:
Set_A={"Ball","Bat","Stump","Helmet"} 

Set_A.add("Pad") #adding single element

print(Set_A)

Set_B = Set_A.copy() #copy set A

print(Set_B)

Set_B.update(["Shoes","Gloves"]) #adding more than one elements

print(Set_B)

X = Set_B.difference(Set_A) #taking difference SetB-SetA

print(X)

X = Set_A.difference(Set_B) #taking difference SetA-SetB

print(X)

Y = Set_B.intersection(Set_A) #taking intersection of SetB and SetA

print(Y)

print(Set_B.issuperset(Set_A)) #checking if B is superset

print(Set_A.issuperset(Set_B)) #checking if A is superset

Set_B.discard("Shoes")

print(Set_B)

X = Set_A.isdisjoint(Set_B) #Checking disjoint

print(X)

X = Set_A.issubset(Set_B) #Checking disjoint

print(X)

print(Set_A.pop()) #poping last element

Set_A.remove("Bat") #removing specific element

print(Set_A)

Set_C = Set_B.union(Set_A)

print(Set_C)

Set_C.symmetric_difference_update(Set_A)

print(Set_C)

{'Helmet', 'Pad', 'Bat', 'Ball', 'Stump'}
{'Ball', 'Stump', 'Helmet', 'Pad', 'Bat'}
{'Ball', 'Stump', 'Helmet', 'Pad', 'Bat', 'Gloves', 'Shoes'}
{'Gloves', 'Shoes'}
set()
{'Helmet', 'Pad', 'Bat', 'Ball', 'Stump'}
True
False
{'Ball', 'Stump', 'Helmet', 'Pad', 'Bat', 'Gloves'}
False
True
Helmet
{'Pad', 'Ball', 'Stump'}
{'Helmet', 'Pad', 'Bat', 'Gloves', 'Ball', 'Stump'}
{'Helmet', 'Bat', 'Gloves'}

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [4]:
num_input = input("Enter the List of numbers separated by space:\n")

num_list = num_input.split(" ")
            
new_list=[int(i) for i in num_list]

for i in range(min(new_list),max(new_list)):
    if i not in new_list:
        print(i,end=" ")

Enter the List of numbers separated by space:
1 2 4 6 3 7 8
5

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [6]:
num_input = input("Enter the List of numbers separated by space:\n")

num_list = num_input.split(" ")

new_list=[int(i) for i in num_list]
            
output_list=[]
for i in new_list:
    if i not in output_list:
        output_list.append(i)
        print(i,end=" ")

Enter the List of numbers separated by space:
12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155